/* LoginSignUp.css */
body {
  margin: 0;
  height: auto;
  background-image: url("../assets/bimg.svg");
  background-color: #002a57;
  font-family: 'roboto';
  /* font-family: cursive; */
  
}

.login-container {
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 200px;
  background-color: #f0f0f0;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px;
  border-radius: 20px 20px 0 0;
}

.login-login-tab{
  flex: 1;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  border-radius: 10px 0px 0 0;
  transition: background-color 0.3s ease;
  
}
.login-signup-tab {
  flex: 1;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  border-radius: 0px 10px 0 0;
  transition: background-color 0.3s ease;
}

.login-login-tab.active{
  color: white;
  background: linear-gradient(#002a57, #007bff );
}
.login-signup-tab.active {
  color: white;
  background: linear-gradient(#002a57, #007bff );
}

.tab {
  padding: 10px 20px;
  color: rgb(182, 152, 242);
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
  transition: background-color 0.3s ease;
  /* background-color: #f0c28a; */
  margin: 0;
  width: 50%;
}

.login-inputs {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.login-input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #80808034;
  border-radius: 6px;
}

.login-input img {
  margin: 0px 15px;
}

.login-input input {
  flex: 1;
  height: 100%;
  padding: 0 15px;
  background: transparent;
  border: none;
  outline: none;
  color: #002a57;
  font-size: 16px;
}

.forgot-password {
  margin-top: 15px;
  color: #007bff;
  cursor: pointer;
  font-size: 16px;
  align-self: flex-end;
}

.login-submit-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login-submit {
  width: 220px;
  height: 39px;
  color: white;
  background: linear-gradient(#003152, #007bff);
  border-radius: 50px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  padding: 10px;
}

.login-submit:hover {
  background-color: #0056b3;
}

.error {
  padding: 10px;
  background: #80808025;
  border: 1px solid #007bff;
  color: #007bff;
  border-radius: 4px;
  margin:20px
}
input.error {
  border: 1px solid #e7195a;
}